automation/workflows/Stream Ended Summary.json
{
  "name": "Stream Ended Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stream-ended",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "se-node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "stream-ended-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "se-assign-1",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "se-assign-2",
              "name": "stream_id",
              "value": "={{ $json.body.stream_id }}",
              "type": "string"
            },
            {
              "id": "se-assign-3",
              "name": "creator_name",
              "value": "={{ $json.body.creator_name }}",
              "type": "string"
            },
            {
              "id": "se-assign-4",
              "name": "title",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "id": "se-assign-5",
              "name": "duration_minutes",
              "value": "={{ $json.body.duration_minutes }}",
              "type": "number"
            },
            {
              "id": "se-assign-6",
              "name": "peak_viewers",
              "value": "={{ $json.body.peak_viewers }}",
              "type": "number"
            },
            {
              "id": "se-assign-7",
              "name": "total_messages",
              "value": "={{ $json.body.total_messages }}",
              "type": "number"
            },
            {
              "id": "se-assign-8",
              "name": "summary",
              "value": "={{ $json.body.title + ' ended after ' + $json.body.duration_minutes + ' minutes.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "se-node-2",
      "name": "Build Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "se-node-3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1c802211-4a8c-47f2-b349-17bcdac8d889",
  "meta": {
    "instanceId": "cd930f66a29914a87777e85e22539f930b79caa8e0765c32b0bc9f73b3ecd1b2"
  },
  "nodeGroups": [],
  "id": "stream_ended_workflow",
  "tags": []
}