automation/workflows/Test Webhook.json
{
  "name": "Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "de80be1d-4005-43f5-8f14-af040057c5b5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "test-automation-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment_1",
              "name": "received",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "21fe232c-4c44-4154-b49b-4b5e381c7aa3",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": {{ $json.received }}\n}",
        "options": {}
      },
      "id": "3e9b11e6-3f19-4828-87fc-031e4e1a6c42",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df390616-1938-4f4d-afc3-c28540f486ee",
  "meta": {
    "instanceId": "cd930f66a29914a87777e85e22539f930b79caa8e0765c32b0bc9f73b3ecd1b2"
  },
  "nodeGroups": [],
  "id": "oUh86H5lUir6OhXz",
  "tags": []
}